<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DotNetSeleniumExtras.WaitHelpers" version="3.11.0" targetFramework="net472" />
  <package id="MSTest.TestAdapter" version="2.2.10" targetFramework="net472" />
  <package id="MSTest.TestFramework" version="2.2.10" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="NUnit" version="4.0.1" targetFramework="net472" />
  <package id="NUnit.Analyzers" version="3.10.0" targetFramework="net472" developmentDependency="true" />
  <package id="NUnit3TestAdapter" version="4.5.0" targetFramework="net472" />
  <package id="NUnitTestAdapter" version="2.3.0" targetFramework="net472" />
  <package id="Selenium.Support" version="4.16.2" targetFramework="net472" />
  <package id="Selenium.WebDriver" version="4.16.2" targetFramework="net472" />
  <package id="Selenium.WebDriver.ChromeDriver" version="120.0.6099.7100" targetFramework="net472" />
  <package id="Selenium.WebDriver.WaitExtensions" version="2.0.0" targetFramework="net472" />
  <package id="UtilActionSelenium" version="1.0.7" targetFramework="net472" />
</packages>